.dashboard {
  display: flex;
}

.skill-svg {
  width: 114px;
  height: 114px;
  margin: 1em;
}

.bg {
  fill: none;
  stroke-width: 10px;
  stroke: #1a2c34;
}

[class^='meter-'] {
  fill: none;
  stroke-width: 10px;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.meter-10 {
  stroke-dasharray: 320;
  stroke-dashoffset: 288;
  stroke: #4caf50;
  animation: progress-10 2s ease-out;
}

@keyframes progress-10 {
  from {
    stroke-dashoffset: 320;
  }
  to {
    stroke-dashoffset: 288;
  }
}

.meter-20 {
  stroke-dasharray: 320;
  stroke-dashoffset: 256;
  stroke: #4caf50;
  animation: progress-20 2s ease-out;
}

@keyframes progress-20 {
  from {
    stroke-dashoffset: 320;
  }
  to {
    stroke-dashoffset: 256;
  }
}

.meter-30 {
  stroke-dasharray: 320;
  stroke-dashoffset: 224;
  stroke: #4caf50;
  animation: progress-30 2s ease-out;
}

@keyframes progress-30 {
  from {
    stroke-dashoffset: 320;
  }
  to {
    stroke-dashoffset: 224;
  }
}

.meter-40 {
  stroke-dasharray: 320;
  stroke-dashoffset: 192;
  stroke: #4caf50;
  animation: progress-40 2s ease-out;
}

@keyframes progress-40 {
  from {
    stroke-dashoffset: 320;
  }
  to {
    stroke-dashoffset: 192;
  }
}

.meter-50 {
  stroke-dasharray: 320;
  stroke-dashoffset: 160;
  stroke: #4caf50;
  animation: progress-50 2s ease-out;
}

@keyframes progress-50 {
  from {
    stroke-dashoffset: 320;
  }
  to {
    stroke-dashoffset: 160;
  }
}

.meter-60 {
  stroke-dasharray: 320;
  stroke-dashoffset: 128;
  stroke: #4caf50;
  animation: progress-60 2s ease-out;
}

@keyframes progress-60 {
  from {
    stroke-dashoffset: 320;
  }
  to {
    stroke-dashoffset: 128;
  }
}

.meter-70 {
  stroke-dasharray: 320;
  stroke-dashoffset: 96;
  stroke: #4caf50;
  animation: progress-70 2s ease-out;
}

@keyframes progress-70 {
  from {
    stroke-dashoffset: 320;
  }
  to {
    stroke-dashoffset: 96;
  }
}

.meter-80 {
  stroke-dasharray: 320;
  stroke-dashoffset: 64;
  stroke: #4caf50;
  animation: progress-80 2s ease-out;
}

@keyframes progress-80 {
  from {
    stroke-dashoffset: 320;
  }
  to {
    stroke-dashoffset: 64;
  }
}

.meter-90 {
  stroke-dasharray: 320;
  stroke-dashoffset: 32;
  stroke: #4caf50;
  animation: progress-90 2s ease-out;
}

@keyframes progress-90 {
  from {
    stroke-dashoffset: 320;
  }
  to {
    stroke-dashoffset: 32;
  }
}

.meter-100 {
  stroke-dasharray: 320;
  stroke-dashoffset: 0;
  stroke: #4caf50;
  animation: progress-100 2s ease-out;
}

@keyframes progress-100 {
  from {
    stroke-dashoffset: 320;
  }
  to {
    stroke-dashoffset: 0;
  }
}
