RewriteEngine On 
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteRule ^projects$ projects.html 
RewriteRule ^contact$ contact.html 
RewriteRule ^impressum$ contact.html
