.rotate-logo-forward {
  animation: rotate-logo-forward 1000ms linear;
}

.rotate-logo-backward {
  animation: rotate-logo-backward 1000ms linear;
}

.instant-animation {
  animation-delay: 0ms;
}

@keyframes rotate-logo-forward {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate3d(0.5, 0.5, 0.5, 180deg);
  }

  100% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}

@keyframes rotate-logo-backward {
  0% {
    transform: rotate3d(1, 1, 1, 360deg);
  }

  50% {
    transform: rotate3d(0.5, 0.5, 0.5, 180deg);
  }

  100% {
    transform: rotate(0);
  }
}

.rotate-logo-forward-ios {
  animation: rotate-logo-forward-ios 1000ms linear;
}

.rotate-logo-backward-ios {
  animation: rotate-logo-backward-ios 1000ms linear;
}

@keyframes rotate-logo-forward-ios {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate3d(0.5, 0, 0, 180deg);
  }

  100% {
    transform: rotate3d(1, 0, 0, 360deg);
  }
}

@keyframes rotate-logo-backward-ios {
  0% {
    transform: rotate3d(1, 0, 0, 360deg);
  }

  50% {
    transform: rotate3d(0.5, 0, 0, 180deg);
  }

  100% {
    transform: rotate(0);
  }
}
